body {
 font-family: 'Roboto', serif;
 -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
 display: flex;
 align-items: center;
 justify-content: center;
 min-height: 100vh;
 background-color: #dedede;
}


h1 {
 color: #343434;
 font-family: 'Lobster Two', cursive;
 position: relative;
 display: block;
 margin: 0;
 font-size: 4rem;
 line-height: 1;
 transform: translateY(6rem);
 animation: up 500ms linear forwards;
 z-index: 1;
 text-shadow: 0px 1px 1px rgba(255,255,255,1);

 &::before,
 &::after {
   position: absolute;
   content: '';
   width: 0px;
   height: 1px;
   left: 0;
   background-color: rgba(0,0,0,0.2);
   z-index: -1;
 }

 &::before {
   top: 1.4rem;
   animation: draw 500ms linear 1s forwards;
 }

 &::after {
   bottom: 0.4rem;
   animation: draw 500ms linear 1s forwards;
 }

}

.title-container {
 font-size: 0;
 position: relative;
 overflow: hidden;
 padding-bottom: 1rem;
}

@keyframes up {
 100% {
   transform: translateY(0);
 }
}
@keyframes draw {
 100% {
   width: 100%;
 }
}
